<a href="https://colab.research.google.com/github/vu211fa18067/Machine-Learning/blob/main/ML_Data_Pre_Processsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Cleaning**

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

X = [[1,2],[np.nan,3],[7,6]]

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X_transformed = imputer.fit_transform(X)
print(X_transformed)

[[1. 2.]
 [4. 3.]
 [7. 6.]]

In [3]:
import pandas as pd

data = {'Name':['Alice','Bob','Charlie'],'Age':[25,30,35],'City':['New York','San Francisco','Los Angeles']}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [9]:
import pandas as pd
from sklearn.impute import SimpleImputer

data ={
    'name': ['John', 'Jane', 'Jack', 'John', None],
    'age': [28, 34, None, 28, 22],
    'purchase_amount': [100.5, None, 85.3, 100.5, 50.0],
    'date_of_purchase': ['2023/12/01', '2023/12/02', '2023/12/01', '2023/12/01', '2023/12/03']
}
df = pd.DataFrame(data)

print(df)
print("------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

###Applying Imputer strategy to impute missing values like None in the DataSet
imputer = SimpleImputer(strategy='mean')

df[['age', 'purchase_amount']] = imputer.fit_transform(df[['age', 'purchase_amount']])

df = df.drop_duplicates()

df['date_of_purchase'] = pd.to_datetime(df['date_of_purchase'], errors='coerce')

print(df)

   name   age  purchase_amount date_of_purchase
0  John  28.0            100.5       2023/12/01
1  Jane  34.0              NaN       2023/12/02
2  Jack   NaN             85.3       2023/12/01
3  John  28.0            100.5       2023/12/01
4  None  22.0             50.0       2023/12/03
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   name   age  purchase_amount date_of_purchase
0  John  28.0          100.500       2023-12-01
1  Jane  34.0           84.075       2023-12-02
2  Jack  28.0           85.300       2023-12-01
4  None  22.0           50.000       2023-12-03